.container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.cross {
  cursor: pointer;
  display: inline-block;
  background-color: crimson;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  margin: 30px 0px 0px 30px;
}

.chart {
  border-radius: 20px;
  border: 2px solid #22262e;
  background-color: #1d1d20;
  width: 850px;
  height: 570px;
  margin: 5% auto;
  padding-left: 25px;
  opacity: 0.9;
}
.graph {
  width: 760px;
  height: 300px;
}

.name {
  display: flex;
  align-items: center;
  margin: 30px 10px 30px;
}

.name img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.name p {
  font-size: 1.5rem;
  font-weight: 700;
}

.types {
  margin-top: 30px;
}

.types button {
  margin: 10px 20px;
  background-color: #18181cdb;
  border: 1px solid #3874ff;
  border-radius: 5px;
  color: #3874ff;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 10px;
}

.types .selected {
  background-color: #3874ff;
  color: #fff;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 0px;
  width: 90%;
}

.details div {
  display: flex;
  font-size: 1.1rem;
}

.details p {
  margin-right: 7px;
  color: #3874ff;
  font-weight: 700;
}
