.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-bottom: 100px;
}

.container p {
  cursor: pointer;
  border: 1px solid #3874ff;
  width: 25px;
  border-radius: 5px;
  text-align: center;
}

.container button {
  width: 80px;
  background-color: #3874ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.selected{
    background-color: #3874ff;
}
