.searchBox {
  position: relative;
  margin-top: 50px;
}

.searchBox input {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #23242e;
  border: none;
  border-radius: 5px;
}
.searchBox select {
  height: 50px;
  padding: 0px 10px;
  margin-left: 20px;
  color: #fff;
  background-color: #23242e;
  border: none;
  border-radius: 5px;
}

.searchBox input:focus {
  outline: none;
}

.searchBox select:focus {
  outline: none;
}

.searchResult {
  position: absolute;
  text-align: center;
  top: 60px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #18181c;
  border: 2px solid #22262e;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.searchResult li {
  list-style: none;
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #22262e;
}

.searchResult li img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }