header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b3677;
  padding: 10px 20px;
  margin-bottom: 150px;
  border-radius: 10px;
}

footer {
  text-align: center;
  background-color: #1b3677;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}
